<section class="container" data-ng-controller="HomeController">

    <br/>

    <div class="container-fluid" style="padding-bottom: 40%;">
        <img src="modules/core/img/brand/cover.jpg" class=""
             style="position:absolute;width:100%;max-width:1500px;top:0;left:0;right:0;margin: 0 auto;"/>

        <div class="container">
            <a href="#"
               style="color:white;position:relative;display:block;left:0;top:0;background-color: rgba(0, 0, 0, 0.55);width: 40%;padding: 0;margin-top: 3em;font-size:1em;">
                <p class="lead-alternate" style="margin-left: 1em;padding: 1em 0 0;font-size:1.65em">
                    An Easier Way
                    <br>
                    To Manage College
                </p>

                <p style="margin-top: 0.77em;letter-spacing: normal;line-height: 1.3;border-radius: 1px;font-size: 1.9em;padding: 0.25em .8em;">
                    Think and Do
                </p>

                <p style="margin-top: 0.77em;letter-spacing: normal;line-height: 1.3;border-radius: 1px;font-size: 1.35em;display: inline-block;padding: 0.25em 0;margin-left:1.2em;">
                    Get Started <i style="top:2px;" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
                </p>
            </a>
        </div>
    </div>
            <div class="row">
                <div class="col-md-5">
                    <blockquote style="color: #d14905;font-size: 2.222em;">"The only limit is your own imagination."</blockquote>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/#!/register" class="btn btn-primary btn-block" style="padding: 1.15em 1.5em;text-align: left;text-transform: uppercase;">Register <i style="top:2px;" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-6">
                            <a href="/#!/login" class="btn btn-primary btn-block" style="padding: 1.15em 1.5em;text-align: left;text-transform: uppercase;">Login <i style="top:2px;" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h3>New Courses</h3>
                    <div class="media">
                        <div class="media-left">
                            <img width="128" class="media-object" style="float:left;" src="modules/core/img/mobile-notification.png" alt="mobile dev"/>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-primary">CSC 9000 Mobile Application Development</h4>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam, amet atque corporis earum eligendi eveniet inventore ipsam ipsum laboriosam minus, nam necessitatibus nesciunt obcaecati placeat repudiandae velit veniam.
                        </div>
                    </div>
                </div>
            </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="page-header">
                <h3>NC STATE NEWS
                    <small><a href="https://news.ncsu.edu/">More Stories</a></small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h4 class="text-primary">Lorem ipsum dolor si ullam unde voluptate.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab amet asperiores corporis culpa delectus, ea esse illo in iure laborum laudantium libero maiores minus perspiciatis repellat tempore totam ut...</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h4 class="text-primary">Lorem ipsum dolor si ullam unde voluptate.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab amet asperiores corporis culpa delectus, ea esse illo in iure laborum laudantium libero maiores minus perspiciatis repellat tempore totam ut...</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h4 class="text-primary">Lorem ipsum dolor si ullam unde voluptate.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab amet asperiores corporis culpa delectus, ea esse illo in iure laborum laudantium libero maiores minus perspiciatis repellat tempore totam ut...</p>
                </div>
            </div>
        </div>
    </div>

</section>
