<section class="container-fluid" data-ng-controller="HomeController">
    <br>
    <!-- TODO: Bind warning model to controller -->
    <div class="alert alert-warning" role="alert">
        <strong>Warning: </strong>Classes are cancelled today!
    </div>
    <img src="modules/core/img/brand/cover.jpg" class="img-responsive" style="position:absolute;width:100%;max-width:1100px;"/>
        <div class="container">
            <a href="#" style="color:white;position:relative;display:block;left:0;top:0;background-color: rgba(0, 0, 0, 0.55);width: 40%;padding: 0;margin-top: 3em;font-size:1em;">
                <p class="lead-alternate" style="margin-left: 1em;padding: 1em 0 0;font-size:1.65em">
                    An Easier Way
                    <br>
                    To Manage College
                </p>
                <p style="margin-top: 0.77em;letter-spacing: normal;line-height: 1.3;border-radius: 1px;font-size: 1.9em;padding: 0.25em .8em;">
                    Think and Do
                </p>
                <p style="margin-top: 0.77em;letter-spacing: normal;line-height: 1.3;border-radius: 1px;font-size: 1.35em;display: inline-block;padding: 0.25em 0;margin-left:1.2em;">
                    Get Started <i style="top:3px;" class="glyphicon glyphicon-right-arrow"></i>
                </p>
            </a>
        </div>
</section>
