<section class="row" data-ng-controller="AuthenticationController">
	<div class="container">
		<form data-ng-submit="signin()" class="signin form-horizontal form-signin" autocomplete="off">
            <h2 class="form-signin-heading">Login</h2>
			<fieldset>
                <div class="form-group">
					<label for="username" class="sr-only">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="username">
                </div>
                <div class="form-group">
					<label for="password" class="sr-only">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="password">
                </div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-lg btn-primary">Sign in</button>&nbsp; or&nbsp;
					<a href="/#!/register">Sign up</a>
				</div>
				<div class="forgot-password text-center">
					<a href="/#!/password/forgot">Forgot your password?</a>
				</div>
                <div data-ng-show="error" class="alert alert-danger">
                    <strong data-ng-show="error">Error: </strong><span data-ng-bind="error"></span>
                </div>
			</fieldset>
		</form>
	</div>
</section>
