<section class="row" data-ng-controller="AuthenticationController">
	<div class="container">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal form-signin" novalidate autocomplete="off">
            <h2 class="form-signin-heading">Register</h2>
			<fieldset>
                <div class="form-group">
                    <label for="studentID" class="sr-only">Student ID</label>
                    <input type="text" id="studentID" name="studentID" class="form-control" data-ng-model="credentials.studentID" placeholder="Student ID">
                </div>
				<div class="form-group">
					<label for="firstName" class="sr-only">First Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
                </div>
				<div class="form-group">
					<label for="lastName" class="sr-only">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email" class="sr-only">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username" class="sr-only">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password" class="sr-only">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
                <div class="form-group">
                    <label for="role" class="sr-only">Role</label>
                    <input type="role" id="role" name="role" class="form-control" data-ng-model="credentials.role" placeholder="Role">
                </div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/login" class="show-signup">Sign in</a>
				</div>
                <div data-ng-show="error" class="alert alert-danger">
                    <strong data-ng-show="error">Error: </strong><span data-ng-bind="error"></span>
                </div>
			</fieldset>
        </form>
	</div>
</section>
