<section class="container" data-ng-controller="CoursesController" data-ng-init="findOne()">

    <br/>

    <div ncy-breadcrumb></div>

	<div class="page-header">
		<h2 data-ng-bind="course.name"></h2>
        <!-- TODO: Do we want to check if authenticated user id is equal to course user id? -->
        <div data-ng-show="(authentication.user.role === 'teacher' && authentication.user._id == course.user._id) || authentication.user.role === 'admin'">
            <a class="btn btn-primary" href="/#!/courses/{{course._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i> Edit Course
            </a>
            <a class="btn btn-primary" data-toggle="modal" data-target="#confirm">
                <i class="glyphicon glyphicon-trash"></i><span> Delete Course</span>
            </a>
        </div>

<!--Close button code-->
        <div id="confirm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            <i class="glyphicon glyphicon-warning-sign"> Warning </i>
                        </h4>
                    </div>
                    <div class="modal-body">
                        Are you sure? Deleting this course cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary btn-block" data-ng-click="remove();">Yes, delete</a>
                        <a type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <!-- Angular UI Tab Directive -->
    <tabset justified="true">
        <tab heading="Announcements">Announcements</tab>
        <tab heading="Calendar">Calendar</tab>
        <tab heading="Projects">Projects</tab>
        <tab heading="Syllabus">Syllabus Content</tab>
        <tab heading="Textbook">Textbook Content</tab>
    </tabset>

</section>


<script>
    /* center modal */
    function centerModals(){
        $('.modal').each(function(i){
            var $clone = $(this).clone().css('display', 'block').appendTo('body');
            var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
            top = top > 0 ? top : 0;
            $clone.remove();
            $(this).find('.modal-content').css("margin-top", top);
        });
    }
    $('.modal').on('show.bs.modal', centerModals);
    $(window).on('resize', centerModals);
</script>
