<section data-ng-controller="AssignmentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Assignments</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="assignment in assignments" data-ng-href="#!/assignments/{{assignment._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="assignment.created | date:'medium'"></span>
				by
				<span data-ng-bind="assignment.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="assignment.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!assignments.$resolved || assignments.length">
    	No Assignments yet, why don't you <a href="/#!/assignments/create">create one</a>?
    </div>
</section>