<section class="container" data-ng-controller="ArticlesController" data-ng-init="find()">

    <br/>

    <div ncy-breadcrumb></div>

    <div class="row">

        <div class="col-md-4">
            <div class="well">
                    <input type="text" class="form-control" data-ng-model="search.title" placeholder="Start typing to search..">
            </div>

            <student-menu></student-menu>

        </div>

        <div class="col-md-8">
<!--
            <div style="margin-top:0!important;" class="page-header">
                <h1 style="margin-top:0!important;">Student & Teacher Articles</h1>
            </div>
-->
            <div data-ng-repeat="article in articles | filter:search:strict" class="thumbnail">
                <a data-ng-href="#!/articles/{{article._id}}"><img style="width: 100%!important;" ng-src="{{article.imageUrl}}"/></a>

                    <a data-ng-href="#!/articles/{{article._id}}"><h4 data-ng-bind="article.title"></h4></a>

                    <p>Posted on
                        <span data-ng-bind="article.created | date:'mediumDate'"></span>
                        by
                        <span data-ng-bind="article.user.displayName"></span>
                    </p>

                    <p data-ng-bind="article.content | limitTo: 350"></p>

                    <p><a data-ng-href="#!/articles/{{article._id}}" class="btn btn-primary" role="button">Read More</a></p>

                    <hr/>
            </div>

        </div>
    </div>
</section>
