<style>
    aside ul li:before{
        content: none;
    }
    aside h5 a {
        color: black!important;
    }
    .student-menu h2, .student-menu h5 {
        margin-top: 5px!important;
    }
    .student-menu ul li {
        padding-bottom: 10px;
    }
</style>
<aside style="margin-bottom: 30px;">
    <nav class="student-menu well">
            <h5><a href="/#!/admin-dashboard">Overview</a></h5>

            <h5><a href="/#!/admin-dashboard/articles">Articles</a></h5>

            <h5><a href="/#!/admin-dashboard/activities">Activities</a></h5>

            <h5><a href="/#!/admin-dashboard/courses">Courses</a></h5>

            <h5><a href="/#!/admin-dashboard/clubs">Clubs</a></h5>
    </nav>
</aside>
