<section class="container" data-ng-controller="ClubsController" data-ng-init="findOne()">

    <br/>

    <div ncy-breadcrumb></div>

    <h1 data-ng-bind="club.name"></h1>

    <div style="margin: 30px 0;" class="row">
        <div class="col-md-4">
            <!-- Club Image -->
            <img style="height: 100%;width: 100%;"
                 src="//f.cl.ly/items/3b0613451n2p0e373H42/c41a96bc-9b77-435c-8c38-35ede8417cb0.jpg"/>
            <!-- Apply/Donate Button -->
            <div style="margin: 35px auto;" class="btn-group-justified">
                <a href="#" class="btn btn-primary">Apply</a>
                <a href="#" class="btn btn-success">Donate</a>
            </div>

            <div data-ng-show="(authentication.user.role === 'teacher' || authentication.user.role === 'admin' || (authentication.user._id == club.user._id))">


                <a class="btn btn-primary btn-block" href="/#!/clubs/{{club._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i> Edit Club
                </a>

                <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirm">
                    <i class="glyphicon glyphicon-trash"></i> Delete Club
                </a>


            </div>

        </div>
        <div class="col-md-7 col-md-offset-1">
            <h4>Overview</h4>

            <p data-ng-bind-html="club.description"></p>
        </div>
    </div>


    <!-- Angular UI Tab Directive-->
    <tabset justified="true">
        <tab>
            <!-- Club Notifications Tab -->
            <tab-heading>
                Notifications <span class="badge">{{notifications.length}}</span>
            </tab-heading>

            <div style="margin-top: 30px;" class="row">
                <div class="col-md-7 col-md-offset-1">
                    <h4>Club Feed</h4>

                    <div class="row" data-ng-repeat="notification in notifications">
                        <div class="col-md-2"><span class="label label-info  pull-right">{{ notification.label }}</span>
                            <!--<i style="font-size: 1.6em;" class="glyphicon" ng-class="notification.icon"></i>-->
                        </div>
                        <div class="col-md-7"><p>
                            {{ notification.title }}</p></div>
                        <div class="col-md-3"><p>{{ notification.date }}</p></div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                Calendar
            </tab-heading>

            <div style="margin-top: 30px;" class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-7 col-md-offset-1">

                    <!-- Tab Title -->
                    <h4>Club Calendar</h4>

                    <!-- Tab Content -->
                    <datepicker ng-model="dt" min-date="minDate" show-weeks="true"></datepicker>

                </div>
            </div>
        </tab>

        <tab>
            <tab-heading>
                Dues <i class="glyphicon glyphicon-exclamation-sign"></i>
            </tab-heading>
            <div style="margin-top: 30px;" class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-7 col-md-offset-1">

                    <!-- Tab Title -->
                    <h4>Club Dues</h4>

                    <!-- Tab Content -->

                </div>
            </div>
        </tab>

        <tab heading="Events">Textbook Content</tab>

        <tab heading="Members"></tab>

    </tabset>

    <div id="confirm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-warning-sign"> </i><span>&nbsp;&nbsp; Are you sure?</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <a class="btn btn-primary btn-block" data-ng-click="remove();">Yes, delete</a>
                    <a type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</section>

