<section class="container" data-ng-controller="TeacherdashboardController">

    <br/>

    <div class="row">

        <div class="col-xs-12 col-md-4">
            <teacher-menu></teacher-menu>
        </div>

        <main class="col-xs-12 col-md-8">

            <div data-ng-controller="NotificationsController" data-ng-init="find()">
                <alert data-ng-bind-html="notification.name" data-ng-repeat="notification in notifications" type=""
                       class="alert alert-warning" close="closeAlert($index)"></alert>
            </div>

            <div style="margin-bottom:30px!important;" class="well">
                <h2>Upcoming Assignments</h2>
                <span> Edit Mode: </span>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="isEditing" btn-radio="'Off'">Off</label>
                    <label class="btn btn-primary" ng-model="isEditing" btn-radio="'On'">On</label>
                </div>

                <hr/>
                <div class="row">
                    <div data-ng-repeat="assignment in assignments">
                        <div class="col-md-2 text-center">
                            <!-- if isEditingAssignments = true offer to save changes-->
                            <a data-ng-click="saveAssignment()" data-ng-show="(isEditing === 'On')"
                               class="btn btn-success">
                                <i class="glyphicon glyphicon-ok"></i><span> Save</span>
                            </a>
                            <!-- else show checkbox -->
                            <input data-ng-hide="isEditing === 'On'" type="checkbox"
                                   data-ng-model="assignment.isComplete"/>
                        </div>
                        <div class="col-md-6">
                            <!-- if is editing, then allow input box -->
                            <form>
                                <input data-ng-show="isEditing === 'On'" type="text" class="form-control"
                                       data-ng-model="assignment.title"/>
                            </form>
                            <!-- else print title -->
                            <p data-ng-hide="isEditing === 'On'">{{assignment.title}}</p>
                        </div>
                        <div class="col-md-4">
                            <p data-ng-show="isEditing === 'On'" class="input-group">
                                <input type="text" class="form-control" datepicker-popup="shortDate"
                                       ng-model="assignment.dueDate"/>
                            </p>

                            <p data-ng-hide="isEditing === 'On'">{{assignment.dueDate}}</p>
                        </div>
                    </div>
                </div>
                <a data-ng-click="addAssignment()" data-ng-show="isEditing === 'On'"
                   class="btn btn-primary btn-block"><i class="glyphicon glyphicon-plus"></i> New Assignment</a>
            </div>

            <div style="margin-bottom:30px!important;" class="well well-lg">
                <h2>My Feed</h2>
                <hr>
                <div class="row">
                    <div class="col-xs-6 col-md-12">
                        <h5 class="media-heading"><span class="label label-primary">Admin</span> Emergency Maintenance
                        </h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque exercitationem labore quasi
                            quisquam. Alias aliquam dolor ea, eaque explicabo in iure laudantium minus pariatur porro
                            quaerat qui, recusandae sed... <a href="#">Read More</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-6 col-md-12">
                        <h5 class="media-heading"><span class="label label-default">Article</span> Bring Your Sales
                            Process into Your Web Copy</h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque exercitationem labore quasi
                            quisquam. Alias aliquam dolor ea, eaque explicabo in iure laudantium minus pariatur porro
                            quaerat qui, recusandae sed... <a href="#">Read More</a></p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    </div>
</section>
